.login-page {
  width: 100lvw;
  height: 100lvh;
  background-color: rgb(255, 249, 241);
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(6, 6, 6, 0.1), rgba(0, 0, 0, 0.1)),
    url("../../assets/login-background.png");
  background-size: cover;
}

.login-signup-form {
  width: 35rem;
  height: 33rem;
  padding: 2rem;
  background-color: #aa9aba;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10rem;
}

.login-signup-input-container {
  margin-bottom: 2.5rem;
}

.login-input {
  display: block;

  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
}

.input-container {
  text-align: start;
  margin-top: 1rem;
}

.login-label {
  margin-left: 0.5rem;
  /* color: white; */
  font-size: 0.9rem;
}

.login-signup-button {
  background-color: #8ed22c;
  width: 7rem;
  margin-top: 0.5rem;
}

.login-signup-banner {
  position: absolute;
  top: 0;
  right: 10rem;
  width: 30rem;
  height: 20rem;
}

.login-train {
  width: 28rem;
  height: 25rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
/*  
  .relative {
    position: relative;
    width: 50vh;
    height: 50vh;
    background-color: #8ed22c;
  }

  .absolute {
    right: 0;
    position: absolute;
    width: 10rem;
    height: 10rem;
    background-color: aqua;
  } */
