.about-us {
  margin-top: 3rem;
  padding: 1rem 5rem;
  /* background-color: #3c2957; */
}

.team-container {
  display: grid;
  margin: 1rem auto;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  width: 100%;
  /* height: 100vh; */
}

.member-info {
  transform: translateY(-1rem);
  padding: 1rem;
  background-color: #e6d8e8;
}

.col1 {
  float: left;
  width: 23rem;
  padding: 1.5rem;
  transition: 200ms;
  /* background-color: rgb(224, 224, 224); */
}

.role {
  text-align: center;
  background-color: #e6d8e8;
  padding: 1rem;
  border-radius: 5px;
  /* box-shadow: 3px 3px 3px; */
}

#title {
  /* margin-left: 360px;
  margin-top: 30px;
  cursor: default ; */
  background-color: white;
  width: 30rem;
  margin: 1rem 0;
  text-align: center;
  border-radius: 0.5rem;
  /* box-shadow: 3px 3px 3px #828282; */
}

img {
  /* filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.65)); */
  transition-duration: 200ms;
  transition-delay: 50ms;
}

.col1:hover {
  /* transform: scale(0.95); */
  /* background-color: lightgray; */
  border-radius: 20px 2px 20px 2px;
  /* -webkit-text-fill-color: #ffffff; */
}
