.contact-page {
  margin-top: 2rem;
  height: 75vh;
  background-color: #454981;
  color: white;
  padding: 1.5rem 4rem;
  z-index: 1;
}

.contact-header {
  text-align: center;
}

.send-message-container {
  display: flex;
  min-height: 15rem;
  margin-top: 1rem;
  justify-content: center;
  /* background-color: aliceblue; */
}

.left,
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 12rem;
  padding: 0 2rem;
}

.contact-input {
  width: 80%;
  height: 3rem;
  border-radius: 0.5rem;
}

.contact-label {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}

.feedback-message {
  width: 100%;
  height: 5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  resize: none;
}

.feedback-message::-webkit-scrollbar-thumb {
  background: rgba(7, 7, 7, 0);
  border-radius: 10px;
}

.feedback-message::-webkit-scrollbar-track {
  background: rgba(7, 7, 7, 0);
  border-radius: 10px;
}

.contact-details-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 0 2rem;
}

.submit-msg {
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: #fcc56b;
  border: 0;
  transition: 200ms;
}

.submit-msg:hover {
  transform: translateY(-0.2rem);
}

.submit-msg:active {
  transform: scale(0.98);
}

.contact-details {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 1rem;
  background-color: #fcc56b;
  width: 16rem;
  height: 3.5rem;
  color: black;
  border-radius: 0.5rem;
  transition: 200ms;
}

.contact-details:hover {
  transform: scale(1.02);
}

.icons {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.phone {
  background-image: url("../../../assets/phone.png");
}

.mail {
  background-image: url("../../../assets/mail.png");
}

.fb {
  background-image: url("../../../assets/facebook.png");
}
.web {
  background-image: url("../../../assets/web.png");
}

@media (min-width: 1920px) {
  .contact-page {
    height: 60vh;
  }
}
