.heropage {
  position: relative;
  height: 91vh;
  /* background: linear-gradient(to bottom, #191a4de4, #787cff37),
    url("../../../assets/heropagebg.png"); */
  background-color: #583e37;
  padding-top: 4rem;
  background-size: cover;
  z-index: 1;
}

.heropage-bg {
  padding-top: 4rem;
  position: absolute;
  width: 75%;
  height: 100%;
  background-position: center;
  background: url("../../../assets/heropagebg.png");
  opacity: 0.4;
  right: 0;
  top: 0;
  z-index: -1;
}

.header-bg {
  display: flex;
  align-items: center;
  padding-top: 4rem;
  padding-left: 4rem;
  position: absolute;
  left: 0;
  background-color: #3e3f96;
  color: white;
  width: 40%;
  height: 100%;
  top: 0;
  z-index: 2;
  clip-path: polygon(0 0, 100% 0%, 66% 100%, 0% 100%);
}

.content-container {
  display: flex;
  justify-content: end;
  align-items: center;
  color: white;
  padding: 4rem 8rem 0 4rem;
  position: absolute;
  width: 75%;
  height: 100%;
  right: 0;
  top: 0;
}

.contents {
  background-color: #00015844;
  backdrop-filter: blur(5px);
  border-radius: 2rem;
  padding: 2rem;
  width: 35rem;
}

@media (min-width: 1920px) {
  .heropage {
    height: 85vh;
  }
}

/* .content-container {
  position: absolute;
  right: 5rem;
  top: calc(50% + 2rem);
  transform: translateY(-50%);
  width: 30rem;
  height: 25rem;
  color: white;
  background-color: #00015874;
  backdrop-filter: blur(5px);
  border-radius: 2rem;
  padding: 2rem;
} */
