.schedule-container {
  /* height: auto; */
  padding: 1rem 4rem;
  padding-top: 3.3rem;
  background-color: #ffffff;
  height: 90vh;
  z-index: 1;
}

.schedule-header {
  text-align: center;
  color: #000000;
  margin-bottom: 2rem;
  letter-spacing: 8px;
  background-color: #e2e0e4;
  width: 30rem;
  border-radius: 1rem;
  margin: 0 auto;
  /* margin-bottom: 1rem; */

  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #3e3f96; */
}

.train-schedule-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 40vh;
  margin-top: 2.5rem;
}

.train-schedule {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 34rem; */
  min-height: 20rem;
  border-radius: 1rem;
  border: 1px solid #9a89ac;
  padding: 1rem;
  text-align: center;
}

.map-schedule-container {
  display: flex;
  justify-content: space-between;
}

.label {
  font-size: 1.2rem;
}

.choose-your-train-container {
  width: 40rem;
  display: flex;
  flex-direction: space-between;
}

.choose-train {
  flex: 1;
  height: 3rem;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  background-color: #8c55bf;
  cursor: pointer;
}

.--active {
  background-color: #7126b6;
}

.--1 {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 50%, 0% 0%);
}

.schedule,
.map {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* background-color: #9a89ac22; */
  width: 40%;
  height: 13rem;
  margin-top: 1rem;
  border-radius: 0.8rem;
}

.map {
  flex: 1;
  /* background-color: #9a89ac; */
}

.time {
  line-height: 4rem;
  width: 100%;
  background-color: #aa9aba;
  color: white;
}
