.ticketing {
  position: relative;

  padding-top: 3.3rem;
  height: 95vh;
  text-align: center;
  /* background-color: #e2e0e4; */
  background-image: url("../../../assets/lrt-bg.jpg");
  background-size: cover;
  z-index: 1;
}

.ticketing-overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #d0d0d02d;
  backdrop-filter: blur(5px);
}

.railways {
  position: absolute;
  width: 100%;
  top: calc(45% + 3.5rem);
  transform: translateY(-50%);
  display: flex;
  justify-content: space-evenly;
}

.rail-lines {
  /* min-width: 15rem; */
  height: 20rem;
  background-color: #7126b6;
  /* box-shadow: 0px 10px 12px 0px rgb(129, 129, 129); */
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  transition: 200ms;
  cursor: pointer;
}

.rail-lines:hover {
  transform: translateY(-0.5rem);
}

.rail-lines:active {
  transform: scale(0.99);
  /* box-shadow: 0px 10px 8px 0px rgb(129, 129, 129); */
}

.train-name {
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  width: 100%;
  color: rgb(255, 255, 255);
  border-radius: 0.4rem;
}

.train-pics {
  /* width: 20rem; */
  height: 12rem;
}

.ticket-title {
  position: relative;
  color: black;
}

.star {
  position: absolute;
  top: -2rem;
  height: 8rem;
}

.--1 {
  left: 10rem;
}

.--2 {
  right: 10rem;
}

.train-name-container {
  border-top: 10px solid #d4b5ea91;
  transform: translateY(4rem);
  padding: 1rem;
  width: 90%;
  height: 13rem;
  background-color: #8c55bf;
  clip-path: polygon(0 0, 100% 0%, 100% 75%, 50% 100%, 0 75%);
  z-index: 1;
}

/* .train-name-container::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -0.5rem;
  left: 0;
  background-color: #ac81ba;
  z-index: 0;
  clip-path: polygon(0 0, 100% 0%, 100% 75%, 50% 100%, 0 75%);
} */

@media (min-width: 1920px) {
  .ticketing {
    height: 90vh;
  }
}
