* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  font-size: 0.9rem;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", sans-serif;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

input {
  border: none;
}

/* span {
  font-family: "Permanent Marker", cursive;
  margin-left: 0.5rem;
  font-size: 3.9rem;

  color: #604979;
} */

input:focus,
textarea:focus {
  outline: none;
}

.btn {
  height: 2rem;
  width: 5rem;
  border: 0;
  border-radius: 1rem;
}

@media (min-width: 1920px) {
  html {
    font-size: 18px;
  }
}
