* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  font-size: 0.9rem;
}

h1,
h2,
h3 {
  font-family: "Bebas Neue", sans-serif;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

a {
  text-decoration: none;
}

.btn {
  height: 2rem;
  width: 5rem;
  border: 0;
  border-radius: 1rem;
}
